[Unit]
Description=Gunicorn TopRatedByPhilly Review Scraper API
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/
Environment="PATH=/var/www/html/topratedbyphilly/scraper/venv-scraper/bin:/usr/bin:/bin"
ExecStart=/var/www/html/topratedbyphilly/scraper/venv-scraper/bin/gunicorn --timeout 200 --workers 3 --bind 127.0.0.1:5051 -m 007 --chdir /var/www/html/topratedbyphilly/scraper/ wsgi:app

[Install]
WantedBy=multi-user.target
